<html>
{% for i in data%}
 <div class="col-sm-10 infinite-item" >
               <div class="col-sm-12 " style="display: inline">
               <div class="col-sm-3 " style="align-content: center;border-right: black 10px">
                   <img class="img-rounded" style="border:black;margin-top:15%;width:100px;height: 100px;" src={{i.user.img}}>
                   <span class="badge" style="margin-left: 15%;margin-bottom: 10px" href="#vasyan">{{ i.user.nickname }}</span>
                   <div class="form-inline">
                   <button class="btn btn-success"  id='like{{ i.id }}' onclick="like( '{{ user }}' , {{ i.id }} , true )">
                    +
{#                    <span class="glyphicon" aria-hidden="true">+</span>#}
                </button>
                <span id="rate{{i.id}}" class="label label-default">{{ i.total_likes }}</span>
                <button class="btn btn-warning"  id='dislike{{ i.id }}' onclick="like( '{{ user }}' , {{ i.id }} , false )">
                    -
{#                    <span class="glyphicon" aria-hidden="true">-</span>#}
                </button>
                   </div>
               </div>
                <div class="col-sm-9">
              <h2>{{ i.head }}</h2>
              <img src="{{ i.image }}" style="max-height: 400px; max-width: 400px"  >
              <p>{{ i.text }} </p>
                    </div>


                <div class="form-inline">


                    <a href="/question?question={{ i.id }}" >Answers({{ i.total_ans }})</a>
                    <a style="margin-left: 10px; color: black">Tags:</a>
                    {% for k in i.tags.all %}
                    <a href="/tag?tag={{ k.tagtext }}">{{k.tagtext}}</a>
                    {% endfor %}
                    <a class="btn btn-default" href="/question?question={{ i.id }}" style="float: right" role="button">View details &raquo;</a>
                </div>
               </div>

            </div>
{%endfor%}
{% if data.has_next %}
    <div class="col-sm-12" style="margin-top: 20px" id="btn{{ data.next_page_number }}">
    <button class="btn btn-warning" onclick="scr({{ data.next_page_number }})">More</button>
{#    <a class="infinite-more-link" href="?page={{ data.next_page_number }}">More</a>#}
    </div>
  {% endif %}
</html>